
$primary-color: #0E0E29;
$secondary-color: #738B9D;
html, body {
	height: 100%;
	background: #20272C;
}

textarea {
	resize: none;
}

.full-height {
/* 	position: absolute; */
/* 	top: 0px; */
/* 	bottom: 0px; */
/* 	margin-bottom: 100px; */
}

#chat {
	position: relative;
	background: #FFC073;
}

#chat-input {
	position: absolute;
	left:0;
	bottom: 0;
/* 	height: 2.8em; */
/* 	line-height: 2.8em; */
	background: rgba(32, 39, 44, 0.7);
	width: 100%;
	padding: 0.4em;
	a, label {
	    color: #ffffff;
	}
}

#signal {
	width:12px;
	height:12px;
}

#talk form {
	margin-bottom: 0;
}

#sidebar {
	background: #20272C; 
	color: white;
	border-right: 2px solid white;
}

#chat-screen {
	position: relative;
	width: 100%;
	padding: 4px;
	overflow-y: scroll;
	
	p {
		line-height: 1.25;
		margin-bottom: 0;
	}
}

#profile-box {
	background: $secondary-color;
	margin-top: 1em;
	border: 1px solid white;
	border-collapse: collapse;	
	.row {
		margin-bottom: 1em;
	}
}

#profile-avatar {
	position: relative;
	img {
		height: 240px;
		width: 240px;
	}
}

#about {
	color: white;
}

#roomMateList,#neighbourList,#mediaList {
	a.userLink, a.mediaLink {
		color:#ffffff;
	}
}

.file.hidden {
	opacity:0;
	display:block;
	height:0;
	width:0;
}

table.mail {
	width: 100%;
	table-layout:fixed;
	
	tr td {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	tr.unread td {
		font-weight: bold;
	}
	
	tr td.date {
		width: 10em;
	}
	
	tr td.delete {
		width: 2em;
	}
	
}