/*
 * http://colorschemedesigner.com/#3Z11T4Y7Tw0w0
 * 
 */
$primary-color: #0E0E29;
$secondary-color: #738B9D;
html, body {
	height: 100%;
	background: $body-bg;
}

textarea {
	resize: none;
}

.full-height {
/* 	position: absolute; */
/* 	top: 0px; */
/* 	bottom: 0px; */
/* 	margin-bottom: 100px; */
}

.top-bar-section {
  max-width: $row-width;
  margin: 0 auto;
}

#chat {
	position: relative;
  background: #fff; 
  background-position-y: 50%;
  background-position-x: 50%;
}

#chat-input {
	position: absolute;
	left:0;
	bottom: 0;
/* 	height: 2.8em; */
/* 	line-height: 2.8em; */
	background: rgba(30, 30, 33, 0.8);
	width: 100%;
	padding: 0.4em;
	a, label {
	    color: #ffffff;
	}
}

#signal {
	width:12px;
	height:12px;
}

#talk form {
	margin-bottom: 0;
}

#sidebar {
	background: $body-bg; 
	color: #ffffff;
	border-right: 2px solid white;
}

#chat-screen {
	position: relative;
	width: 100%;
	padding: 4px;
	overflow-y: scroll;
	
	p {
		line-height: 1.25;
		margin-bottom: 0;
	}
}

#profile-box {
	background: $secondary-color;
	margin-top: 1em;
	border: 1px solid white;
	border-collapse: collapse;	
	.row {
		margin-bottom: 1em;
	}
}

#avatar {
	position: relative;
	.avatar-image {
		max-height: 240px;
		max-width: 240px;
	}
}

#about {
	color: white;
}

#roomMateList,#neighbourList,#mediaList {
	a.userLink, a.mediaLink {
		color:#ffffff;
	}
}

.file.hidden {
	opacity:0;
	display:block;
	height:0;
	width:0;
}

.dark-theme {
  .font-primary {
    color: #ffffff;
  }


}

table.mail {
  width: 100%;
  table-layout:fixed;

  tr td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  tr.unread td {
    font-weight: bold;
  }

  tr td.date {
    width: 10em;
  }

  tr td.delete {
    width: 2em;
  }

}