/* line 2, ../sass/fixes.scss */
.section-container.auto > section.active > .title {
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  /* line 2, ../sass/fixes.scss */
  .section-container.auto > section.active > .title {
    border-bottom: 2px solid #20272c;
  }
}
@media only screen and (min-width: 768px) {
  /* line 8, ../sass/fixes.scss */
  .section-container.auto > section.active > .content {
    border: none;
    border-top: 2px solid white;
  }
}

/* line 16, ../sass/fixes.scss */
.section-container.auto > section > .title {
  top: 1px;
}
@media only screen and (max-width: 768px) {
  /* line 16, ../sass/fixes.scss */
  .section-container.auto > section > .title {
    border-bottom: 2px solid white;
  }
}
